.logo {
  height: 2em;
  will-change: filter;
  transition: filter 300ms;
}

.logo.lorebook:hover {
  filter: drop-shadow(0 0 2em var(--color-text));
}

.topbar {
  display: flex;
  padding: 1em;
  justify-content: space-between;
}

.list-icon {
  width: 1.8em;
  height: 1.8em;
  border: 3px solid var(--color-text);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.09%;
  box-sizing: border-box;
}

.list-icon:hover {
  filter: drop-shadow(0 0 2em var(--color-text));
}

.list-icon span {
  display: block;
  height: 6px;
  margin: 3.5px 2px;
  border-radius: 3px;
  background: var(--color-text);
}
